@page "/products"

@inject ISearchProduct searchProduct
@*there are 3 different parts of a razor component:
    View, State, & Event
*@

<h3>Search Products</h3>
<br />

<SearchBarComponent OnSearch="HandleSearch" />

<br />

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @if (products != null && products.Count() > 0)
        {
            @foreach (Product p in products)
            {
                <ProductItemComponent Product="p" />
            } }
        else
        {
            <tr>
                <td colspan="3">
                    Cannot find products
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    private IEnumerable<Product> products;

    //this method runs when the page is loaded
    protected override void OnInitialized()
    {
        base.OnInitialized();

        @*products = searchProduct.Execute();*@
    }

    private void HandleSearch(string filter)
    {
        products = searchProduct.Execute(filter);
    }
}
